<div class="header-container">
  <div class="inner-container">
    <div class="logo">Wee-Shortcaster</div>
    <div class="links-container">
      <div class="github">
        <fa-icon [icon]="githubIcon" style="font-size: 25px;"></fa-icon>
      </div>
      <div class="twitter">
        <fa-icon [icon]="twitterIcon" style="font-size: 25px;"></fa-icon>
      </div>
    </div>
  </div>
</div>
<!-- <div class="product-grid" *ngFor="let product of products">
  <div class="mini-item">
    <div class="image-container">
      <img [src]="product.thumbnail" alt="photo" />
    </div>
    <div class="title">{{ product.title }}</div>
    <div class="price">${{ product.price }}</div>
    <div class="description">{{ product.description }}</div>
  </div>
</div> -->
<!-- <div class="quotes-container" style="max-width: 1200px; margin: 0 auto">
  <h4>Quote of the day!</h4>
  <p>
    {{ randomQuote?.id }}. {{ randomQuote?.quote }} ~ {{ randomQuote?.author }}
  </p>
  <button
    (click)="getRandomQuotes()"
    style="height: 45px; width: 170px; font-size: 16px"
  >
    Generate New Quote
  </button>
</div> -->
<!-- <div class="customer-container">
  <div class="form-container">
    <label for="customer-name"></label>
    <input type="text" name="name" [(ngModel)]="name" />
  </div>
  <button (click)="greetNewCustomer()">Greet Customer</button>
  <div class="message">{{ message }}</div>
</div> -->
